APP_ENV=testing

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=db_spa_pwa_testing
DB_USERNAME=applicationbase_testing
DB_PASSWORD=

APPLICATIONBASE_ADOPT_EXISTING_SCHEMA=false
APPLICATIONBASE_ADOPT_DATABASE=

SESSION_DRIVER=array
CACHE_STORE=array
