@import "tailwindcss";

/* === Base Global === */
html,
body {
  overflow-x: hidden;
  /* evita scroll horizontal accidental */
}

@layer base {
  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400; /* normal, más liviano */
  }

  .text-normal {
    font-size: 1rem;    /* tamaño base (≈16 px) */
    font-weight: 400;    /* sin énfasis extra */
  }
}

main {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

body.booting {
	visibility: hidden;
}
